/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:

// special colors
$cf7-success-color: #F4E19A;
$cf7-success-background: #598E46;
$cf7-submit-color: #fff;

$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);

$msf-green: #598e46;
/* ----------- end Colors ----------- */
